<div class="col-12 col-lg-10">
    <div class="card"> 
        <div class="card-block"> 
            <div class="row"> 
                <div class="col-10"> 
                    <h4>Old Copper Mine </h4>
                </div>
                <div class="col-2"> 
                    <img class="img-fluid rounded-circle">
                    <p class="username"> </p>
                </div>
            </div>
            <div class="row"> 
                <div class="col-10">
                    <img class="col-12 img-fluid">
                </div>
                <div class="col-2">
                    <span class="badge badge-pill badge-default float-right">verified</span>
                    <!--+getDistance(sighting.coords[0], sighting.coords[1])-->
                </div>
            </div>
            <div class="row">
                <p class="col-10 sighting">Bigfoot, also commonly referred to as Sasquatch, is a large and hairy human-like mythical creature said to inhabit forests in North America, particularly in the Pacific Northwest. Bigfoot is featured in both American and Canadian folklore, and since the mid-20th century has grown into a cultural icon, permeating popular culture and becoming the subject of its own distinct subculture.</p>
            </div>
        </div>
    </div>
    <div class="card"> 
        <div class="card-block"> 
            <div class="row"> 
                <div class="col-10"> 
                    <h4>Glendalough </h4>
                </div>
                <div class="col-2"> 
                    <img class="img-fluid rounded-circle">
                    <p class="username"> </p>
                </div>
            </div>
            <div class="row"> 
                <div class="col-10">
                    <img class="col-12 img-fluid">
                </div>
                <div class="col-2">
                    <!--+getDistance(sighting.coords[0], sighting.coords[1])-->
                </div>
            </div>
            <div class="row">
                <p class="col-10 sighting">Lorem ipsum is a placeholder text used in publishing and graphic design to demonstrate the visual form of a document or a typeface. It is derived from a 1st-century BC text by Cicero, with words altered to make it nonsensical and improper Latin.</p>
            </div>
        </div>
    </div>
    <div class="card"> 
        <div class="card-block"> 
            <div class="row"> 
                <div class="col-10"> 
                    <h4>Shop Street? </h4>
                </div>
                <div class="col-2"> 
                    <img class="img-fluid rounded-circle">
                    <p class="username"> </p>
                </div>
            </div>
            <div class="row"> 
                <div class="col-10">
                    <img class="col-12 img-fluid">
                </div>
                <div class="col-2">
                    <!--+getDistance(sighting.coords[0], sighting.coords[1])-->
                </div>
            </div>
            <div class="row">
                <p class="col-10 sighting">Lorem ipsum is a placeholder text used in publishing and fishing to demonstrate the visual form of a cryptid or a mothman. It is derived from a 1st-century BC text by Bigfoot, with words altered to make it nonsensical and improper Latin.</p>
            </div>
        </div>
    </div>
</div>